Repository buildpacks/spec, pull requests merged in 2020-10, with the labels that each got.

#89 Updates platform spec for stack metadata RFC
  platform.md
Labels: api/platform

#147 Changes platform spec to ensure image config Env PATH is set
  platform.md
Labels: api/platform

#152 Adds character restrictions for process types.
  buildpack.md
Labels: api/buildpack

#148 Update Distribution Spec for Windows vs Linux Buildpackages
  distribution.md
Labels: api/distribution

#153 Adds exec.d to buildpack API
  buildpack.md
Labels: api/buildpack

#154 Clarify stack concepts
  platform.md
Labels: api/platform

#155 Any stack buildpacks
  buildpack.md
Labels: api/buildpack
