Repository buildpacks/spec, pull requests merged in 2021-08, with the labels that each got.

#234 Update platform 0.7 to reflect pause in mixin validation
  platform.md
Labels: api/platform

#240 Updates platform API version in spec and README
  README.md
  platform.md
Labels: api/platform

#241 Updates buildpack API version in spec and README
  README.md
  buildpack.md
Labels: api/buildpack

#242 Updates distribution API version in spec and README
  README.md
  distribution.md
Labels: api/distribution
